.text-large {
  @apply text-[16px] leading-[132%] -tracking-[.16px] max-w-96;
}

.text-large--decoration {
  color: transparent;
  background-clip: text !important;
  background-image: linear-gradient(159deg, #FFF 4.02%, rgba(255, 255, 255, 0.00) 107.54%);
}

.text-large--hover {
  @apply hover:opacity-70 cursor-pointer;
}
