.text-medium {
  @apply text-[max(12px,_min(calc(100vw_*_(14_/_1440)),_14px))]
  leading-[132%] -tracking-[.14px];
}

.text-medium--custom {
  color: transparent;
  background-clip: text !important;
  background-image: linear-gradient(159deg, #FFF 4.02%, rgba(255, 255, 255, 0.00) 107.54%);
}

.text-medium--hover {
  @apply hover:opacity-70 cursor-pointer;
}
