.container--small {
  width: 100%;
  max-width: 48rem;
  margin-left: auto;
  margin-right: auto;
}

.container--medium {
  width: 100%;
  max-width: 67.75rem;
  margin-left: auto;
  margin-right: auto;
}

.container--large {
  width: 100%;
  max-width: 81.25rem;
  margin-left: auto;
  margin-right: auto;
}
