.title-small {
  @apply text-[max(16px,_min(calc(100vw_*_(24_/_1440)),_24px))]
  font-medium leading-[112%] -tracking-[.24px] max-w-xl;
}

.title-small--decoration {
  color: transparent;
  background-clip: text !important;
  background-image: linear-gradient(159deg, #FFF 4.02%, rgba(255, 255, 255, 0.00) 107.54%);
}

.title-small--hover {
  @apply hover:opacity-70 cursor-pointer;
}
