.title-medium {
  @apply text-[max(24px,_min(calc(100vw_*_(32_/_1440)),_32px))]
  font-medium leading-[112%] -tracking-[.64px] max-w-[34rem];
}

.title-medium--custom {
  color: transparent;
  background-clip: text !important;
  background-image: linear-gradient(159deg, #FFF 4.02%, rgba(255, 255, 255, 0.00) 107.54%);
}

.title-medium--hover {
  @apply hover:opacity-70 cursor-pointer;
}
