.title-xsmall {
  @apply text-[max(16px,_min(calc(100vw_*_(20_/_1440)),_20px))]
  font-medium leading-[132%] -tracking-[.2px];
}

.title-xsmall--custom {
  color: transparent;
  background-clip: text !important;
  background-image: linear-gradient(159deg, #FFF 4.02%, rgba(255, 255, 255, 0.00) 107.54%);
}

.title-xsmall--hover {
  @apply hover:opacity-70 cursor-pointer;
}