.title-large {
  @apply text-[max(24px,_min(calc(100vw_*_(48_/_1440)),_48px))]
  max-lg:text-[max(24px,_min(calc(100vw_*_(80_/_1440)),_80px))]
  font-medium leading-[120%] -tracking-[1.28px];
}

.title-large--decoration {
  color: transparent;
  background-clip: text !important;
  background-image: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.00) 148.75%);
}

.title-large--hover {
  @apply hover:opacity-70 cursor-pointer;
}