@import "./tailwind/fonts.css";
@tailwind base;
@import "./base.css";
@tailwind components;
@import "./component.css";
@import "./section.css";
@import "./text.css";
@import "./title.css";
@import "./tailwind/components.css";
@tailwind utilities;
@import "./tailwind/utilities.css";
@import "./tailwind/wordpress.css";

.pt-\[120\%\]{
    padding-top: 120%;
}

.member-name{
    min-height: 90px;
}
.member-name > .person-name{
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
