:root {
  --solution_1: url('/image/solution-image-01.png');
  --solution_2: url('/image/solution-image-02.png');
}

.group\/solution1 {
  @apply bg-[url('/image/solution-business.png')] bg-contain bg-right bg-no-repeat;
}
.group\/solution1.is-active {
  background: var(--solution_1);
  @apply bg-no-repeat bg-cover;
}
.group\/solution2 {
  @apply bg-[url('/image/solution-business.png')] bg-contain bg-right bg-no-repeat;
}
.group\/solution2.is-active {
  background: var(--solution_2);
  @apply bg-no-repeat bg-cover;
}