@font-face {
  font-family: 'ttfont';
  src: url('/font/WIWqRSCYyP-bold.woff2') format('woff2'),
    url('/font/WIWqRSCYyP-bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'ttfont';
  src: url('/font/WIWqRSCYyP-extrabolditalic.woff2') format('woff2'),
    url('/font/WIWqRSCYyP-extrabolditalic.woff') format('woff');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'ttfont';
  src: url('/font/WIWqRSCYyP-extralightitalic.woff2') format('woff2'),
    url('/font/WIWqRSCYyP-extralightitalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'ttfont';
  src: url('/font/WIWqRSCYyP-thin.woff2') format('woff2'),
    url('/font/WIWqRSCYyP-thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'ttfont';
  src: url('/font/WIWqRSCYyP-extrabold.woff2') format('woff2'),
    url('/font/WIWqRSCYyP-extrabold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'ttfont';
  src: url('/font/WIWqRSCYyP-regular.woff2') format('woff2'),
    url('/font/WIWqRSCYyP-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ttfont';
  src: url('/font/WIWqRSCYyP-thinitalic.woff2') format('woff2'),
    url('/font/WIWqRSCYyP-thinitalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'ttfont';
  src: url('/font/WIWqRSCYyP-light.woff2') format('woff2'),
    url('/font/WIWqRSCYyP-light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'ttfont';
  src: url('/font/WIWqRSCYyP-mediumitalic.woff2') format('woff2'),
    url('/font/WIWqRSCYyP-mediumitalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'ttfont extrablack';
  src: url('/font/WIWqRSCYyP-extrablackitalic.woff2') format('woff2'),
    url('/font/WIWqRSCYyP-extrablackitalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'ttfont';
  src: url('/font/WIWqRSCYyP-extralight.woff2') format('woff2'),
    url('/font/WIWqRSCYyP-extralight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'ttfont';
  src: url('/font/WIWqRSCYyP-lightitalic.woff2') format('woff2'),
    url('/font/WIWqRSCYyP-lightitalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'ttfont';
  src: url('/font/WIWqRSCYyP-medium.woff2') format('woff2'),
    url('/font/WIWqRSCYyP-medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'ttfont extrablack';
  src: url('/font/WIWqRSCYyP-extrablack.woff2') format('woff2'),
    url('/font/WIWqRSCYyP-extrablack.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'ttfont';
  src: url('/font/WIWqRSCYyP-bolditalic.woff2') format('woff2'),
    url('/font/WIWqRSCYyP-bolditalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'ttfont';
  src: url('/font/WIWqRSCYyP-blackitalic.woff2') format('woff2'),
    url('/font/WIWqRSCYyP-blackitalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'ttfont';
  src: url('/font/WIWqRSCYyP-black.woff2') format('woff2'),
    url('/font/WIWqRSCYyP-black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'ttfont';
  src: url('/font/WIWqRSCYyP-italic.woff2') format('woff2'),
    url('/font/WIWqRSCYyP-italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}