.has-text-align-left {
  @apply text-left;
}

.has-text-align-center {
  @apply text-center;
}

.has-text-align-right {
  @apply text-right;
}

.has-large-font-size {
  @apply text-4xl;
}

.alignfull {
  @apply w-screen relative;

  left: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  max-width: 100vw;
  right: 50%;
}

.wp-block-image img {
  @apply max-w-full mt-2;
}
.wp-block-image.aligncenter {
  @apply text-center;
}
.wp-block-image.alignfull img,
.wp-block-image.alignwide img {
  @apply w-full;
}
.wp-block-image .alignleft,
.wp-block-image .alignright,
.wp-block-image .aligncenter,
.wp-block-image.is-resized {
  @apply table ml-0 mr-0;
}
.wp-block-image .alignleft > figcaption,
.wp-block-image .alignright > figcaption,
.wp-block-image .aligncenter > figcaption,
.wp-block-image.is-resized > figcaption {
  @apply table-caption;

  caption-side: bottom;
}

.wp-block-image .alignleft {
  @apply float-left mr-4;
}
.wp-block-image .alignright {
  @apply float-right ml-4;
}
.wp-block-image .aligncenter {
  @apply m-auto;
}

.wp-block-button a,
.wp-block-file a.wp-block-file__button {
  @apply bg-blue-500 text-white no-underline py-2 px-4;
}

.wp-block-button a:hover,
.wp-block-file a.wp-block-file__button:hover {
  @apply bg-blue-400 cursor-pointer;
}

.wp-block-file a:first-of-type {
  @apply mr-4;
}

.wp-block-cover {
  @apply flex flex-wrap justify-center items-center bg-cover bg-center overflow-hidden;

  min-height: 430px;
}

.wp-block-verse {
  @apply font-sans;
}

.wp-block-media-text {
  @apply grid grid-cols-2 gap-4;
}

.post-content p {
  @apply text-[16px] leading-[132%] -tracking-[.16px] mb-[20px] font-normal;
}

.post-content h1 {
  @apply text-[32px] font-medium leading-[112%] -tracking-[.32px] mb-[20px];
}
.post-content h2 {
  @apply text-[28px] font-medium leading-[112%] -tracking-[.28px] mb-[20px];
}
.post-content h3 {
  @apply text-[24px] font-medium leading-[112%] -tracking-[.24px] mb-[20px];
}
.post-content h4 {
  @apply text-[20px] font-medium leading-[112%] -tracking-[.20px] mb-[20px];
}
.post-content h5 {
  @apply text-[18px] font-medium leading-[112%] -tracking-[.18px] mb-[20px];
}
.post-content h6 {
  @apply text-[16px] font-medium leading-[112%] -tracking-[.16px] mb-[20px];
}

.post-content blockquote {
  @apply p-[16px_20px] border-l-[2px] border-l-[#0000000F] my-[32px]
}

.post-content blockquote p {
  @apply italic text-justify text-[20px] leading-[132%] tracking-[.2px] mb-0;
}

.post-content ol {
  @apply list-decimal my-[20px];
}

.post-content ul {
  @apply list-disc my-[20px];
}

.post-content li {
  @apply ml-[24px]
}
#wpcf7-f234-o1 > form > p:nth-child(10)

/* Form Contact Form 7 */
.form-contact label {
  content: none
}
.form-contact input[type="text"],
.form-contact input[type="tel"],
.form-contact input[type="email"],
.form-contact input[type="date"],
.form-contact input[type="file"],
.form-contact select,
.form-contact textarea{
  @apply p-[14px_12px] border border-[#0000001F] rounded-[12px] w-full text-[#787C91] ring-0 outline-none bg-white;
}

.form-contact input[type="submit"] {
  @apply w-fit text-[max(14px,_min(calc(100vw_*_(16_/_1440)),_16px))] text-white font-medium leading-[132%] -tracking-[.16px] p-[10px_16px] rounded-full bg-black hover:opacity-70 cursor-pointer;
  border: 1px solid rgba(207, 207, 207, 0.25);
}

.form-contact form {
  @apply flex flex-col gap-[16px];
}

.form-contact form p:not(:first-of-type) {
  @apply max-w-none col-span-2 text-[12px] leading-[132%] -tracking-[.12px];;
}

.form-contact form p:first-of-type {
  @apply grid grid-cols-2 w-full gap-[16px];
}

.form-contact form p:first-of-type > span:not(:nth-of-type(1)):not(:nth-of-type(2)) {
  grid-column: span 2 / span 2;
}

.form-contact form p:first-of-type > span:nth-of-type(1),
.form-contact form p:first-of-type > span:nth-of-type(2) {
  @apply max-lg:col-span-2;
}

.form-career label {
  content: none
}

.form-career input[type="text"],
.form-career input[type="tel"],
.form-career input[type="email"],
.form-career input[type="date"],
/* .form-career input[type="file"], */
.form-career select,
.form-career textarea{
  @apply p-[14px_12px] border border-[#0000001F] rounded-[12px] w-full text-[#787C91] ring-0 outline-none bg-white mt-2;
}

.form-career input[type="submit"] {
  @apply w-fit text-[max(14px,_min(calc(100vw_*_(16_/_1440)),_16px))] text-white font-medium leading-[132%] -tracking-[.16px] p-[10px_16px] rounded-full bg-black hover:opacity-70 cursor-pointer;
  border: 1px solid rgba(207, 207, 207, 0.25);
}

.form-career form {
  @apply grid grid-cols-2 w-full gap-[16px];
}

.form-career form label {
  @apply text-[max(12px,_min(calc(100vw_*_(14_/_1440)),_14px))] leading-[132%] -tracking-[.14px] font-medium
}

/* .form-career form > div:nth-child(2), */
/* .form-career form > div:nth-child(2),
.form-career form > div:nth-child(9), */
/* .form-career form > p:nth-child(1), */
/* .form-career form > p:nth-child(2),
.form-career form > p:nth-child(3), */
.form-career form > div:nth-child(9),
.form-career form > p:nth-child(10),
.form-career form > p:nth-child(11) {
  grid-column: span 2 / span 2;
}


.form-career input[type="file"] {
  @apply p-[14px_12px] border border-[#0000001F] rounded-[12px] w-full text-[#787C91] ring-0 outline-none bg-white mt-2;
}