@import '../../assets/scss/mixins';
@import '../../assets/scss/variables';

.comingSoon {
    width: 100vw;
    height: 100dvh;
    background-image: url('../../assets/images/UXE_bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .logoSection {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        .logo {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            gap: 16px;

            .logoLeftSide {
                -webkit-animation: slide-left 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                animation: slide-left 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                animation-delay: 1.5s;
            }

            .logoRightSide {
                -webkit-animation: slide-right 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                animation: slide-right 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                animation-delay: 1.5s;
            }
        }

        .title {
            font-size: 40px;
            color: #FF8B00;
            position: absolute;
            -webkit-animation: tracking-in-expand 2.9s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
            animation: tracking-in-expand 2.9s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
            animation-delay: 1.5s;

            span {
                color: white;
            }
        }


        @include xxxl {
            zoom: 0.8;
        }

        @include xxl {
            zoom: 0.7;
        }

        @include xl {
            zoom: 0.6;
        }

        @include lg {
            zoom: 0.5;
        }

        @include md {
            zoom: 0.4;
        }

        @include sm {
            zoom: 0.3;
        }

        @include xs {
            zoom: 0.2;
        }
    }
}

@-webkit-keyframes slide-left {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    40% {
        -webkit-transform: translateX(-80%);
        transform: translateX(-80%);
    }

    60% {
        -webkit-transform: translateX(-80%);
        transform: translateX(-80%);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

}

@keyframes slide-left {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    40% {
        -webkit-transform: translateX(-80%);
        transform: translateX(-80%);
    }

    60% {
        -webkit-transform: translateX(-80%);
        transform: translateX(-80%);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@-webkit-keyframes slide-right {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    40% {
        -webkit-transform: translateX(80%);
        transform: translateX(80%);
    }

    60% {
        -webkit-transform: translateX(80%);
        transform: translateX(80%);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes slide-right {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    40% {
        -webkit-transform: translateX(80%);
        transform: translateX(80%);
    }

    60% {
        -webkit-transform: translateX(80%);
        transform: translateX(80%);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}


@-webkit-keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    20% {
        opacity: 0.6;
    }

    40% {
        letter-spacing: 0em;
        opacity: 1;
    }

    60% {
        letter-spacing: 0em;

        opacity: 1;
    }

    80% {
        opacity: 0.6;
    }

    100% {
        letter-spacing: -0.5em;
        opacity: 0;
    }
}

@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    20% {
        opacity: 0.6;
    }

    40% {
        letter-spacing: 0em;
        opacity: 1;
    }

    60% {
        letter-spacing: 0em;
        opacity: 1;
    }

    80% {
        opacity: 0.6;
    }

    100% {
        letter-spacing: -0.5em;
        opacity: 0;
    }
}